<div class="modular-row gallery-container {{ page.header.class }}">
	{{ unite_gallery(page.media.images, 
        '{"gallery_theme":"' ~ page.header.unitegallery.gallery_theme ~ '"}',
        page.header.unitegallery.gallery_id) }}
</div>