{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content }}

	<div class="gallery-container {{ page.header.class }}">
		{{ unite_gallery(page.media.images, '{"gallery_theme":"' ~ page.header.unitegallery.gallery_theme ~ '"}') }}
	</div>	
	
{% endblock %}
